<h1>New Item</h1>

<%= form_for @item, dashboard_admin_items_path, method: :post  do |f| %>
  名稱： <%= f.text_field :name %><br>
  價格： <%= f.number_field :price %>
  <button type="submit" >送出</button>
<% end %>
