<% content_for :header do %>
<style>
  ul.items, ul.items li{
    list-style: none;
    padding: 0;
    margin: 0;
  }

  ul.items li{
    display: block;
    float: left;
    border: 1px #ccc solid;
    border-radius: 6px;
    width: 120px;
    height: 180px;
    margin: 4px 0 0 4px;
    text-align: center;
  }

  ul.items li img{
    width: 120px;
    height: 120px;
    display: block;
    border-radius: 8px;
  }

  ul.items li .name{
    display: block;
  }

  ul.items li a{
    display: inner-block;
    background: #ccccff;
    padding: 4px 8px;
    border-radius: 3px;
  }
</style>


<script>
  jQuery(function($){
   $('.add_cart').click(function(){
     $.getJSON('/items/' + $(this).attr('data-value') + '/add_cart', function(json){
      $('#cart_counter').html(json.counter);
    });
    return false;
   });
  })
</script>
<% end %>

<h1>Listing Items</h1>

<ul class="items">
  <% @items.each do |item| %>
    <li>
      <%= image_tag item.cover.url(:icon) %>
      <span class="name"><%= item.name %>(<%= item.price %>)</span>
      <a href="#" class="add_cart" data-value="<%= item.id %>">加入購物車</a>
    </li>
  <% end %>
</ul>
